$color-white: #ffffff;
$color-black: #000000;
$color-dark: #1f1f1f;

$color-background: #ffffff;

$color-shadow-grey: #2727261a;
$color-shadow-blue: #7bc7ff80;
$color-shadow-orange: #ff9f7b80;

$color-orange: #f79457;
$color-orange-1: #f794574d;
$color-orange-2: #f794571a;

$color-grey: #717c8e;
$color-grey-1: #717c8e99;
$color-grey-2: #717c8e4d;
$color-grey-3: #717c8e1a;
$color-grey-4: #717c8e0d;

$color-blue: #2e77ff;
$color-blue-1: #2e77ff4d;
$color-blue-2: #2e77ff1a;

$color-error: #fd3e3e;

$color-success: #09b55f;
