// Mobile
$screen-antd-sm-min: 600px;
$screen-xs-min: 375px;
$screen-sm-min: 425px;

//responsive widths
$screen-sm-min2: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-s-xxl-min: 1400px;
$screen-xxl-min: 1600px;
$screen-full-hd: 1920px;

// Logo width
$logo-lg-width: 20rem;
